.settings-section {
    width: 100%;
    padding: 10px;
    overflow-x: hidden;

    & > hr {
        border: 1px solid var(--border2);
    }
}

.settings-section-p {
    color: var(--subtitle);
    font: 15pt "JetBrains Mono Medium";
    margin-bottom: 10px;
}
