#settings-page {
    width: 70%;
    height: 70%;
    border-radius: var(--rounded);
    background: var(--bg-t);
    position: fixed;
    top: 15%;
    left: 15%;
    z-index: 120;
    border: 1px solid var(--border3);
    padding: var(--padding);
}


#settings-head {
    width: 100%;
    height: 5%;
    position: relative;

    & p {
        position: absolute;
        right: 0;
        color: var(--subtitle);

    }
}

#settings-main {
    width: 100%;
    height: 90%;
    display: flex;
    gap: 20px;
}

#settings-footer {
    position: relative;
    width: 100%;
    height: 5%;
}

#settings-buttons {
    position: absolute;
    right: 0;
    display: flex;
    width: 30%;
}

#settings-aside {
    width: 15%;
    height: 100%;
    overflow: auto;
}

.settings-group {
    width: 100%;
    height: 25px;
    transition: all 0.2s;

    &.selected {
        & p {
            color: var(--title) !important;
        }
    }


    & p {
        color: var(--subtitle);
    }

    &:hover {
        & p {
            color: var(--title);
        }
    }
}

#settings-content {
    width: 85%;
    height: 100%;
    overflow: auto;
}