.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: var(--subtitle);
    &:hover{
        color: var(--title);
    }
    font: 10pt "JetBrains Mono";
    width: 170px;
    height: 40px;
    border-radius: 10px;
    transition: color 0.1s;
}


.button-main{
    background: var(--grad);
    color: black;
    transition: color 0.1s, filter 0.1s;
    &:hover{
        color: black;
        filter: brightness(1.2);
    }
}