#main-page {
    display: flex;
    position: absolute;
}

#main-page-left {
    width: 40%;
    height: 100%;
}

#main-page-right {
    width: 60%;
    height: 100%;
}

#main-page-logo {
    height: 15%;
    width: 60%;
    /*margin: 10% auto 0;*/
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    /*justify-content: center;*/
    align-items: center;
    gap: 8%;

    & > #main-page-logo-logo {
        height: 70%;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        overflow: hidden;

        & > img {
            width: 100%;
            height: 100%;
        }
    }

    & > p {
        font: 30pt "JetBrains Mono Medium";
        color: white;
    }
}


#main-page-left-buttons {
    margin-top: 10%;
    margin-left: 5%;
    width: 45%;
    /*height: 90%;*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#main-page-right-dec {
    width: 90%;
    height: 95%;
    margin: 2% 5%;
}

#main-page-groups {
    width: 100%;
    height: 5%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

#main-page-groups-list {
    /*width: 100%;*/
    height: 100%;
    display: flex;
    background: transparent;
    /*overflow-x: scroll;*/
    /*overflow-y: hidden;*/

    /*&::-webkit-scrollbar {*/
    /*    width: 0;*/
    /*    height: 0;*/
    /*}*/
}

.main-page-group {
    flex-shrink: 0;
    width: 6vw;
    height: 100%;
    background: transparent;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    transition: color 0.2s;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    &:hover {
        & input {
            color: var(--title);
        }
    }

    & input {
        width: 70%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        font: 10pt "JetBrains Mono Light";
        color: var(--subtitle);
    }

    & button {
        height: 70%;
        aspect-ratio: 1/1;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & img {
            display: block;
            width: 30%;
            height: 30%;
            object-fit: contain;
        }
    }

}

#main-page-add-group {
    height: 100%;
    aspect-ratio: 1/1;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & img {
        display: block;
        width: 40%;
        height: 40%;
        object-fit: contain;
    }

    &:hover {
        filter: brightness(2);
    }
}

#main-page-projects {
    width: 100%;
    height: calc(95% - 50px);
    overflow: auto;
    margin-top: 10px;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}