#main-page{
    display: flex;
    position: absolute;
}
#main-page-left{
    width: 40%;
    height: 100%;
}

#main-page-right{
    width: 60%;
    height: 100%;
}

#main-page-logo{
    height: 15%;
    width: 60%;
    /*margin: 10% auto 0;*/
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    /*justify-content: center;*/
    align-items: center;
    gap: 8%;
    &> #main-page-logo-logo{
        height: 70%;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        overflow: hidden;
        &> img{
            width: 100%;
            height: 100%;
        }
    }
    &>p{
        font: 30pt "JetBrains Mono Medium";
        color: white;
    }
}


#main-page-left-buttons{
    margin-top: 10%;
    margin-left: 5%;
    width: 45%;
    /*height: 90%;*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#main-page-right-dec{
    width: 90%;
    height: 95%;
    margin: 2% 5%;
}

#main-page-groups{
    width: 100%;
    height: 5%;
    display: flex;
    overflow: hidden;
}

#main-page-projects{
    width: 100%;
    height: calc(95% - 50px);
}